@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

@using ChessGameLogic
@using ChessGameLogic.ClientInteractionEntities

<h3>Chess board</h3>

@for (int vertical = 1; vertical <= 8; vertical++)
{
    for (char horizontal = 'a'; horizontal <= 'h'; horizontal++)
    {
        var figureInfo = this.chessGame.GetFigureOnPositionInfo(horizontal, vertical);
        @if (figureInfo != null)
        {
            <img height="30" width="30" src="/ImagesForFigures/@($"{figureInfo.figureType}{figureInfo.figureColor}{"White"}").jpg" alt="Alternate Text" />

        }

    }
    <br />
}

@code {
    private ChessGame chessGame = new ChessGame(ChooseFigureToProduce, HandleGameEnding);

    public ChessBoardComponent()
    {
        this.chessGame = new ChessGame(ChooseFigureToProduce, HandleGameEnding);
    }

    private static ChessFigureProductionType ChooseFigureToProduce()
    {
        return ChessFigureProductionType.Queen;
    }

    private static void HandleGameEnding(EndGameResult endGameResult)
    {

    }
}
