
<a href="/Home/OnlineUsers">Find opponent</a>

@section Scripts{
    @if (this.TempData.ContainsKey("message"))
    {
        <script>
                alert('@this.TempData["message"]');
                @this.TempData.Remove("message");
        </script>
    }
}