
<a class="btn btn-primary"href="/Home/OnlineUsers">Challenge Online Players!</a>
<a class="btn btn-primary"href="/Archive/Games">Check your previous games!</a>

@section Scripts{
    @if (this.TempData.ContainsKey("message"))
    {
        <script>
                alert('@this.TempData["message"]');
                @this.TempData.Remove("message");
        </script>
    }
}