@model string

@{
    ViewData["Title"] = "Home Page";
}


<h3>Online users:</h3>

<ul id="usersInvitingCurrentUserToPlay" class="list-group">
</ul>

<ul id="usersThatCurrentUserHasInvited" class="list-group">
</ul>

<ul id="usersLoggedIn" class="list-group">
</ul>


@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/findOpponent.js"></script>
}
