@model string

@{
    ViewData["Title"] = "Home Page";
}
<p id="usersLoggedIn">

</p>



@section Scripts{
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>>
    <script src="~/js/site.js"></script>
}
